# 01_dataset_schema_exploration.ipynb
# ðŸ“¡ Satellite Communications Dataset â€“ Schema Exploration

"""
Overview:
This notebook explores the SatNOGS satellite communications dataset schema.
Goal: Understand the structure of all tables, their columns, and row counts,
so we can later prepare the dataset for machine learning tasks.

Objectives:
- Inspect each table in the database (`satnogs`)
- Document column names and row counts
- Preview sample rows for context
- Identify relationships between tables
- Save schema summaries for reuse
"""

In [2]:
# --- Install dependencies (only needed once in environment) ---
%pip install sqlalchemy pandas pymysql tabulate
%pip install tabulate
import sqlalchemy
import pandas as pd
import importlib
from sqlalchemy import create_engine, inspect

print("SQLAlchemy version:", sqlalchemy.__version__)
print("Pandas version:", pd.__version__)

Requirement already satisfied: sqlalchemy in d:\elo 2\satnogs_project\.venv\lib\site-packages (2.0.44)
Requirement already satisfied: pandas in d:\elo 2\satnogs_project\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: pymysql in d:\elo 2\satnogs_project\.venv\lib\site-packages (1.1.2)
Requirement already satisfied: tabulate in d:\elo 2\satnogs_project\.venv\lib\site-packages (0.9.0)
Requirement already satisfied: greenlet>=1 in d:\elo 2\satnogs_project\.venv\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\elo 2\satnogs_project\.venv\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in d:\elo 2\satnogs_project\.venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\elo 2\satnogs_project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\elo 2\satnogs_project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\elo 2\satnogs_project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\elo 2\satnogs_project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tabulate in d:\elo 2\satnogs_project\.venv\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.
SQLAlchemy version: 2.0.44
Pandas version: 2.3.3

In [3]:
# --- Database connection ---
DB_USER = "root"
DB_PASSWORD = "123456789"
DB_HOST = "127.0.0.1"
DB_PORT = "3306"
DB_NAME = "satnogs"

engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")
inspector = inspect(engine)

In [4]:
# --- List all tables ---
tables = inspector.get_table_names()
print("Tables in database:", tables)

Tables in database: ['base_antenna', 'base_antennatype', 'base_frequencyrange', 'base_launch', 'base_mode', 'base_observation', 'base_operator', 'base_satellite', 'base_satelliteentry', 'base_satelliteidentifier', 'base_station', 'base_stationstatuslog', 'base_stationtype', 'base_telemetry', 'base_transmitterentry']

In [9]:
# --- Check the dataset timeline ---

import time

def run_query(sql, engine, desc="Query"):
    """Run SQL query and return DataFrame with logging."""
    print(f"\nðŸ” Running: {desc}")
    start = time.time()
    df = pd.read_sql_query(sql, engine)
    print(f"âœ… Retrieved {len(df):,} rows in {time.time()-start:.2f}s")
    return df
timeline_sql = """
SELECT MIN(start) AS first_observation,
       MAX(start) AS last_observation
FROM base_observation
WHERE start IS NOT NULL
"""
timeline = run_query(timeline_sql, engine, "Dataset timeline")
print(timeline)

ðŸ” Running: Dataset timeline
âœ… Retrieved 1 rows in 30.95s
    first_observation    last_observation
0 2015-10-12 15:13:16 2025-11-12 09:59:41

In [10]:
# --- Helper function to explore a table ---
def explore_table(table_name, preview_rows=5):
    """Return schema summary for a given table."""
    cols = [c['name'] for c in inspector.get_columns(table_name)]
    count = pd.read_sql(f"SELECT COUNT(*) AS total_rows FROM {table_name}", engine)['total_rows'][0]
    df_preview = pd.read_sql(f"SELECT * FROM {table_name} LIMIT {preview_rows}", engine)
    
    summary = {
        "table": table_name,
        "columns": cols,
        "row_count": count,
        "preview": df_preview
    }
    return summary

In [11]:
#  --- Explore all relevant tables ---
tables_to_explore = [
    "base_antenna",
    "base_antennatype",
    "base_frequencyrange",
    "base_launch",
    "base_mode",
    "base_observation",
    "base_operator",
    "base_satellite",
    "base_satelliteentry",
    "base_satelliteidentifier",
    "base_station",
    "base_stationstatuslog",
    "base_stationtype",
    "base_telemetry",
    "base_transmitterentry"
]

schema_summaries = []
for tbl in tables_to_explore:
    summary = explore_table(tbl)
    schema_summaries.append(summary)
    print(f"\n=== {tbl} ===")
    print("Columns:", summary["columns"])
    print("Row count:", summary["row_count"])
    print(summary["preview"].head())
    print(f"âœ… Finished processing {tbl}")

=== base_antenna ===
Columns: ['id', 'antenna_type_id', 'station_id']
Row count: 4437
   id  antenna_type_id  station_id
0   1               12         256
1   2               12        1536
2   7               10         771
3   8               13        1285
4   9               15           6
âœ… Finished processing base_antenna

=== base_antennatype ===
Columns: ['id', 'name']
Row count: 17
   id          name
0   6    Cross Yagi
1   1        Dipole
2   3       Discone
3  12     Eggbeater
4   4  Ground Plane
âœ… Finished processing base_antennatype

=== base_frequencyrange ===
Columns: ['id', 'min_frequency', 'max_frequency', 'antenna_id']
Row count: 5311
   id  min_frequency  max_frequency  antenna_id
0   1      135000000      148000000           1
1   2      430000000      440000000           2
2   7      135000000      148000000           7
3   8      430000000      440000000           8
4   9      400000000      470000000           9
âœ… Finished processing base_frequencyrange

=== base_launch ===
Columns: ['id', 'name', 'forum_thread_url', 'created', 'created_by_id']
Row count: 0
Empty DataFrame
Columns: [id, name, forum_thread_url, created, created_by_id]
Index: []
âœ… Finished processing base_launch

=== base_mode ===
Columns: ['id', 'name']
Row count: 56
   id          name
0  90          4FSK
1  49          AFSK
2  78  AFSK TUBiX10
3  17         AHRPT
4  19            AM
âœ… Finished processing base_mode

=== base_observation ===
Columns: ['id', 'start', 'end', 'author_id', 'ground_station_id', 'max_altitude', 'rise_azimuth', 'set_azimuth', 'waterfall_status_datetime', 'vetted_status', 'waterfall_status_user_id', 'archive_identifier', 'archive_url', 'archived', 'experimental', 'client_metadata', 'client_version', 'transmitter_baud', 'transmitter_created', 'transmitter_description', 'transmitter_downlink_drift', 'transmitter_downlink_high', 'transmitter_downlink_low', 'transmitter_invert', 'transmitter_type', 'transmitter_uplink_drift', 'transmitter_uplink_high', 'transmitter_uplink_low', 'transmitter_uuid', 'transmitter_mode', 'status', 'waterfall_status', 'tle_line_0', 'tle_line_1', 'tle_line_2', 'tle_source', 'tle_updated', 'station_alt', 'station_antennas', 'station_lat', 'station_lng', 'audio_zipped', 'payload', 'waterfall', 'center_frequency', 'transmitter_status', 'transmitter_unconfirmed', 'sat_id']
Row count: 12546241
   id               start                 end  author_id  ground_station_id  \
0  23 2015-10-12 15:13:16 2015-10-12 15:20:01        165                  2
1  25 2015-10-12 17:03:08 2015-10-12 17:15:37        165                  2
2  27 2015-10-12 17:30:27 2015-10-12 17:43:51        165                  2
3  28 2015-10-12 18:08:16 2015-10-12 18:21:54        165                  2
4  33 2015-10-13 17:08:24 2015-10-13 17:21:56        165                  2

  max_altitude rise_azimuth set_azimuth waterfall_status_datetime  \
0         None         None        None       2017-05-26 08:04:08
1         None         None        None       2017-05-26 08:18:15
2         None         None        None       2017-05-26 08:22:41
3         None         None        None       2017-07-22 11:14:03
4         None         None        None       2017-09-10 19:00:05

  vetted_status  ...  station_antennas station_lat station_lng  audio_zipped  \
0           bad  ...              None        None        None             1
1           bad  ...              None        None        None             1
2           bad  ...              None        None        None             1
3           bad  ...              None        None        None             1
4           bad  ...              None        None        None             1

   payload waterfall center_frequency  transmitter_status  \
0                                None                None
1                                None                None
2                                None                None
3                                None                None
4                                None                None

  transmitter_unconfirmed                    sat_id
0                    None  UTXU-4881-3195-9394-3367
1                    None  FVYN-9469-5031-2236-7972
2                    None  HXCH-9043-9893-2952-4877
3                    None  IRES-5964-9687-1982-0089
4                    None  ZRIM-9073-8711-5268-6171

[5 rows x 48 columns]
âœ… Finished processing base_observation

=== base_operator ===
Columns: ['id', 'name', 'names', 'description', 'website']
Row count: 6
   id   name                                              names  \
0   1    UVG                 Universidad del Valle de Guatemala
1   2    LSF                             Libre Space Foundation
2   3    ESA                              European Space Agency
3   4   ISRO                 Indian Space Research Organisation
4   5  CIOMP  Changchun Institute of Optics, Fine Mechanics ...

                                         description  \
0
1
2
3  The Indian Space Research Organisation is the ...
4

                        website
0       https://www.uvg.edu.gt/
1           https://libre.space
2          https://www.esa.int/
3      https://www.isro.gov.in/
4  http://english.ciomp.cas.cn/
âœ… Finished processing base_operator

=== base_satellite ===
Columns: ['id', 'last_modified', 'associated_satellite_id', 'satellite_entry_id', 'satellite_identifier_id']
Row count: 2903
   id              last_modified associated_satellite_id  satellite_entry_id  \
0   1 2021-07-21 10:11:41.947596                    None                7538
1   2 2021-07-21 10:11:41.949944                    None                1843
2   3 2021-07-21 10:11:41.951757                    None                1836
3   4 2021-07-21 10:11:41.953531                    None                1930
4   5 2021-07-21 10:11:41.955319                    None                1835

   satellite_identifier_id
0                        1
1                        2
2                        3
3                        4
4                        5
âœ… Finished processing base_satellite

=== base_satelliteentry ===
Columns: ['id', 'norad_cat_id', 'name', 'image', 'names', 'status', 'description', 'decayed', 'dashboard_url', 'countries', 'deployed', 'launched', 'website', 'operator_id', 'norad_follow_id', 'approved', 'citation', 'created', 'created_by_id', 'reviewed', 'reviewer_id', 'satellite_identifier_id', 'launch_id', 'receive_review_update', 'review_message']
Row count: 9759
   id  norad_cat_id         name                              image  \
0   1          7530      OSCAR 7  satellites/AO-7-Model-300x180.gif
1   2         14781      UOSAT 2             satellites/UoSat-2.jpg
2   3         20442        LUSAT             satellites/LUSAT-1.gif
3   4         22826      ITAMSAT           satellites/itamsat_1.jpg
4   5         23439  RADIO ROSTO      satellites/radio-rosto__1.jpg

              names status                                        description  \
0              AO-7  alive  This satellite was a small communications sate...
1  UO-11\r OSCAR-11  alive  Also known as OSCAR 11, this British built sat...
2             LO-19  alive  Lusat was launched by the same Ariane vehicle ...
3             IO-26  alive  Italy's first amateur radio satellite that use...
4             RS-15  alive  Also known as RS 15. Built by a group of radio...

  decayed dashboard_url countries  ... approved  \
0    None          None            ...        1
1    None          None            ...        1
2    None          None            ...        1
3    None          None            ...        1
4    None          None            ...        1

                                  citation                    created  \
0  CITATION NEEDED - https://xkcd.com/285/ 2021-07-21 10:11:41.973567
1  CITATION NEEDED - https://xkcd.com/285/ 2021-07-21 10:11:41.977018
2  CITATION NEEDED - https://xkcd.com/285/ 2021-07-21 10:11:41.982120
3  CITATION NEEDED - https://xkcd.com/285/ 2021-07-21 10:11:41.985554
4  CITATION NEEDED - https://xkcd.com/285/ 2021-07-21 10:11:41.987219

  created_by_id                   reviewed  reviewer_id  \
0          None 2021-07-21 10:11:41.973567         None
1          None 2021-07-21 10:11:41.977018         None
2          None 2021-07-21 10:11:41.982120         None
3          None 2021-07-21 10:11:41.985554         None
4          None 2021-07-21 10:11:41.987219         None

  satellite_identifier_id launch_id receive_review_update review_message
0                      16      None                     0           None
1                      18      None                     0           None
2                      21      None                     0           None
3                      23      None                     0           None
4                      24      None                     0           None

[5 rows x 25 columns]
âœ… Finished processing base_satelliteentry

=== base_satelliteidentifier ===
Columns: ['id', 'sat_id', 'created']
Row count: 2920
   id                    sat_id                    created
0   1  SCHX-0895-2361-9925-0309 2021-07-21 10:11:41.945257
1   2  AMOM-6643-5608-9156-4431 2021-07-21 10:11:41.948554
2   3  KEFJ-8497-6394-9368-1937 2021-07-21 10:11:41.950438
3   4  FBFQ-2056-7966-4855-0749 2021-07-21 10:11:41.952251
4   5  BIRW-7828-0822-0647-1194 2021-07-21 10:11:41.954037
âœ… Finished processing base_satelliteidentifier

=== base_station ===
Columns: ['id', 'name', 'image', 'alt', 'lat', 'lng', 'featured_date', 'owner_id', 'created', 'qthlocator', 'last_seen', 'horizon', 'description', 'status', 'testing', 'client_version', 'target_utilization', 'violator_scheduling', 'client_id', 'active_configuration_changed']
Row count: 3912
   id              name                                              image  \
0   1  Hackerspace.gr 1  ground_stations/269750681_642106180166521_5486...
1   2            KB9JHU                 ground_stations/kb9jhu_P52k3jV.png
2   4            SV1IYO
3   5            oe6xug                         ground_stations/oe6xug.jpg
4   6          Apomahon

   alt        lat        lng featured_date  owner_id             created  \
0  104  38.016970  23.731400    2015-10-11       848 2015-07-22 13:26:49
1  280  39.236000 -86.305000    2017-07-11       165 2015-07-22 14:24:10
2  150  38.024000  23.733000          None       168 2015-10-11 13:59:38
3  330  47.058979  15.460038          None       170 2015-11-23 12:12:51
4  104  38.048000  23.739000    2016-04-25       172 2016-01-17 19:28:26

  qthlocator           last_seen  horizon  \
0     KM18ua 2022-10-05 12:49:26       40
1     EM69uf 2025-07-29 22:39:46        5
2     KM18ua 2024-12-24 09:37:11        0
3     JN77rb 2025-03-24 10:09:13        0
4     KM18ub 2025-11-10 09:53:03       20

                                         description  status  testing  \
0  Yaesu 5500, usrp b200, 2x X-Quad  Antenna 432 ...       0        1
1  Yaesu G-5500 with M2 cross yagi antennas and S...       0        0
2                                                          0        1
3  2025-02-11: back in business triggered by fram...       0        1
4                         Patch 435 MHz , RTL-SDR V3       2        0

           client_version  target_utilization  violator_scheduling client_id  \
0                     1.6                 100                    1
1                   1.8.1                 100                    0
2  1.9.2+0.g4da08be.dirty                 100                    1
3                     1.0                   0                    0
4                   1.8.1                 100                    0

  active_configuration_changed
0                         None
1                         None
2                         None
3                         None
4                         None
âœ… Finished processing base_station

=== base_stationstatuslog ===
Columns: ['id', 'status', 'changed', 'station_id']
Row count: 298893
   id  status             changed  station_id
0   1       2 2018-04-02 13:55:58           6
1   3       2 2018-04-02 13:55:58          12
2   4       2 2018-04-02 13:55:58          13
3   5       2 2018-04-02 13:55:58          15
4   6       2 2018-04-02 13:55:58          16
âœ… Finished processing base_stationstatuslog

=== base_stationtype ===
Columns: ['id', 'name']
Row count: 1
   id name
0   1   RF
âœ… Finished processing base_stationtype

=== base_telemetry ===
Columns: ['id', 'name', 'decoder', 'satellite_id']
Row count: 185
   id                name decoder  satellite_id
0   1           ISS AX.25     iss            28
1   2  STRAND-1 Telemetry  strand            87
2   3  UNISAT-6 Telemetry     us6           132
3   4    FOX-1A Telemetry     fox           178
4   5      QBEE Telemetry    qbee           227
âœ… Finished processing base_telemetry

=== base_transmitterentry ===
Columns: ['id', 'uuid', 'description', 'uplink_low', 'uplink_high', 'downlink_low', 'downlink_high', 'invert', 'baud', 'approved', 'downlink_mode_id', 'downlink_drift', 'type', 'uplink_drift', 'citation', 'created', 'status', 'created_by_id', 'service', 'uplink_mode_id', 'reviewed', 'reviewer_id', 'satellite_id', 'iaru_coordination', 'iaru_coordination_url', 'itu_notification', 'unconfirmed', 'receive_review_update', 'review_message']
Row count: 9869
   id                    uuid                description   uplink_low  \
0   1  ZAKErADdWKpMiDjvKKhmmB                 Mode U TLM          NaN
1   3  ybJ86zjXzQxDReZ5skY56B                 Mode H TLM          NaN
2   5  Zqa2ebzyRRBffvwkLnjTVc           Mode U CW Beacon          NaN
3   6  c4T33yxNiE8EAEc7V6LMQk  Mode V/U APRS,BBS 9K6 FSK  145930000.0
4   7  maYGaaMWsSBeDDDMpcM9ES      Mode V/U BBS1 9K6 FSK  145850000.0

  uplink_high  downlink_low downlink_high  invert    baud  approved  ...  \
0        None     437125000          None       0    12.0         1  ...
1        None      29352000          None       0     0.0         1  ...
2        None     435795000          None       0     0.0         1  ...
3        None     435225000          None       1  9600.0         1  ...
4        None     435225000          None       1  9600.0         1  ...

   uplink_mode_id                   reviewed reviewer_id satellite_id  \
0             NaN 2019-04-18 05:39:53.343316        None           21
1             NaN 2019-04-18 05:39:53.343316        None           24
2             NaN 2019-04-18 05:39:53.343316        None           25
3            72.0 2019-04-18 05:39:53.343316        None           27
4            72.0 2019-04-18 05:39:53.343316        None           27

  iaru_coordination iaru_coordination_url itu_notification unconfirmed  \
0               N/A                           {"urls": []}           0
1               N/A                           {"urls": []}           0
2               N/A                           {"urls": []}           0
3               N/A                           {"urls": []}           0
4               N/A                           {"urls": []}           0

  receive_review_update  review_message
0                     0            None
1                     0            None
2                     0            None
3                     0            None
4                     0            None

[5 rows x 29 columns]
âœ… Finished processing base_transmitterentry

In [12]:
# --- Enhanced NULL analysis for all tables ---
def detailed_null_analysis(table_name, sample_size=10000):
    """Perform comprehensive NULL analysis on a table"""
    print(f"\n{'='*60}")
    print(f"NULL Analysis for: {table_name}")
    print('='*60)
    
    # Get total row count
    total_count = pd.read_sql(f"SELECT COUNT(*) as total FROM {table_name}", engine)['total'][0]
    print(f"Total rows: {total_count:,}")
    
    # Sample data for analysis (if table is large)
    df_sample = pd.read_sql(f"SELECT * FROM {table_name} LIMIT {sample_size}", engine)
    print(f"Sample size for analysis: {len(df_sample):,}")
    
    # Calculate NULL percentages
    null_stats = (df_sample.isnull().sum() / len(df_sample) * 100).sort_values(ascending=False)
    
    # Create summary DataFrame
    null_df = pd.DataFrame({
        'column': null_stats.index,
        'null_percentage': null_stats.values,
        'non_null_count': (len(df_sample) - df_sample.isnull().sum()).values
    })
    
    # Display columns with NULLs
    columns_with_nulls = null_df[null_df['null_percentage'] > 0]
    
    print(f"\nColumns with NULL values ({len(columns_with_nulls)} out of {len(df_sample.columns)}):")
    for _, row in columns_with_nulls.head(15).iterrows():
        print(f"  â€¢ {row['column']:40} - {row['null_percentage']:6.2f}% NULL ({row['non_null_count']:,} non-NULL)")
    
    if len(columns_with_nulls) > 15:
        print(f"  ... and {len(columns_with_nulls) - 15} more columns with NULLs")
    
    return null_df

# Analyze key tables
key_tables = ['base_observation', 'base_station', 'base_satelliteentry']
for table in key_tables:
    detailed_null_analysis(table)

============================================================
NULL Analysis for: base_observation
============================================================
Total rows: 12,546,241
Sample size for analysis: 10,000

Columns with NULL values (20 out of 48):
  â€¢ station_antennas                         - 100.00% NULL (10,000 non-NULL)
  â€¢ station_lat                              - 100.00% NULL (10,000 non-NULL)
  â€¢ station_alt                              - 100.00% NULL (10,000 non-NULL)
  â€¢ station_lng                              - 100.00% NULL (10,000 non-NULL)
  â€¢ center_frequency                         - 100.00% NULL (9,165 non-NULL)
  â€¢ transmitter_status                       - 100.00% NULL (8,757 non-NULL)
  â€¢ transmitter_unconfirmed                  - 100.00% NULL (8,757 non-NULL)
  â€¢ transmitter_uplink_drift                 - 100.00% NULL (8,757 non-NULL)
  â€¢ transmitter_downlink_drift               -  99.98% NULL (10,000 non-NULL)
  â€¢ transmitter_uplink_high                  -  99.91% NULL (10,000 non-NULL)
  â€¢ transmitter_downlink_high                -  99.91% NULL (10,000 non-NULL)
  â€¢ transmitter_uplink_low                   -  94.67% NULL (10,000 non-NULL)
  â€¢ transmitter_baud                         -  33.41% NULL (9,953 non-NULL)
  â€¢ rise_azimuth                             -  12.43% NULL (10,000 non-NULL)
  â€¢ max_altitude                             -  12.43% NULL (10,000 non-NULL)
  ... and 5 more columns with NULLs

============================================================
NULL Analysis for: base_station
============================================================
Total rows: 3,912
Sample size for analysis: 3,912

Columns with NULL values (5 out of 20):
  â€¢ featured_date                            -  99.90% NULL (3,912 non-NULL)
  â€¢ active_configuration_changed             -  79.42% NULL (3,912 non-NULL)
  â€¢ last_seen                                -  30.42% NULL (3,912 non-NULL)
  â€¢ target_utilization                       -   4.88% NULL (3,912 non-NULL)
  â€¢ owner_id                                 -   0.03% NULL (3,912 non-NULL)

============================================================
NULL Analysis for: base_satelliteentry
============================================================
Total rows: 9,759
Sample size for analysis: 9,759

Columns with NULL values (12 out of 25):
  â€¢ launch_id                                - 100.00% NULL (9,759 non-NULL)
  â€¢ review_message                           -  99.78% NULL (9,406 non-NULL)
  â€¢ operator_id                              -  97.24% NULL (9,759 non-NULL)
  â€¢ dashboard_url                            -  95.62% NULL (9,759 non-NULL)
  â€¢ decayed                                  -  89.79% NULL (9,759 non-NULL)
  â€¢ norad_follow_id                          -  80.10% NULL (9,759 non-NULL)
  â€¢ deployed                                 -  70.85% NULL (9,759 non-NULL)
  â€¢ launched                                 -  28.24% NULL (996 non-NULL)
  â€¢ created_by_id                            -  10.57% NULL (427 non-NULL)
  â€¢ reviewer_id                              -   9.01% NULL (9,759 non-NULL)
  â€¢ norad_cat_id                             -   3.62% NULL (2,845 non-NULL)
  â€¢ reviewed                                 -   2.65% NULL (7,003 non-NULL)

In [13]:
# --- Deep dive into observation status ---
print("\n" + "="*60)
print("DEEP DIVE: OBSERVATION STATUS ANALYSIS")
print("="*60)

# Get complete status distribution
complete_status = pd.read_sql("""
    SELECT 
        status,
        waterfall_status,
        COUNT(*) as count,
        ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) as percentage
    FROM base_observation 
    GROUP BY status, waterfall_status
    ORDER BY count DESC
    LIMIT 15
""", engine)

print("Top 15 Status Combinations:")
print(complete_status.to_string(index=False))

# Interpret the status codes (based on your findings)
print("\n" + "-"*40)
print("STATUS CODE INTERPRETATION (Hypothesis):")
print("-"*40)
print("status = 100:    Observation in progress?")
print("status = 0:      Successful observation?")
print("status = -100:   Failed observation?")
print("status = -1000:  Severely failed observation?")
print("\nwaterfall_status = 1.0: Waterfall available?")
print("waterfall_status = 0.0: No waterfall?")
print("waterfall_status = NULL: Unknown/not processed?")

# Check if there's any documentation in the data
print("\n" + "-"*40)
print("LOOKING FOR STATUS DOCUMENTATION IN DATA:")
print("-"*40)

# Check if status values appear in other columns
status_metadata = pd.read_sql("""
    SELECT 
        status,
        waterfall_status,
        vetted_status,
        COUNT(*) as count
    FROM base_observation 
    WHERE status IN (0, 100, -100, -1000)
    GROUP BY status, waterfall_status, vetted_status
    ORDER BY status, waterfall_status
    LIMIT 20
""", engine)

print("Status combinations with vetted_status:")
print(status_metadata.to_string(index=False))

============================================================
DEEP DIVE: OBSERVATION STATUS ANALYSIS
============================================================
Top 15 Status Combinations:
 status  waterfall_status   count  percentage
    100               1.0 4613718       36.77
   -100               0.0 2624418       20.92
      0               NaN 2536168       20.21
    100               NaN 1770869       14.11
  -1000               NaN  946432        7.54
  -1000               0.0   53708        0.43
   -100               NaN     731        0.01
    100               0.0     142        0.00
   -100               1.0      55        0.00

----------------------------------------
STATUS CODE INTERPRETATION (Hypothesis):
----------------------------------------
status = 100:    Observation in progress?
status = 0:      Successful observation?
status = -100:   Failed observation?
status = -1000:  Severely failed observation?

waterfall_status = 1.0: Waterfall available?
waterfall_status = 0.0: No waterfall?
waterfall_status = NULL: Unknown/not processed?

----------------------------------------
LOOKING FOR STATUS DOCUMENTATION IN DATA:
----------------------------------------
Status combinations with vetted_status:
 status  waterfall_status vetted_status   count
  -1000               NaN           bad      40
  -1000               NaN        failed   89740
  -1000               NaN          good       4
  -1000               NaN       unknown  856648
  -1000               0.0        failed   38063
  -1000               0.0       unknown   15645
   -100               NaN           bad     730
   -100               NaN       unknown       1
   -100               0.0           bad  564693
   -100               0.0        failed      55
   -100               0.0          good     575
   -100               0.0       unknown 2059095
   -100               1.0       unknown      55
      0               NaN       unknown 2536168
    100               NaN          good    2758
    100               NaN       unknown 1768111
    100               0.0       unknown     142
    100               1.0           bad      53
    100               1.0        failed      25
    100               1.0          good 1851711

In [14]:
# --- Identify foreign key relationships ---
print("\n" + "="*60)
print("IDENTIFYING TABLE RELATIONSHIPS")
print("="*60)

# Based on column names, identify potential foreign keys
table_relationships = {
    'base_observation': {
        'ground_station_id': 'base_station.id',
        'sat_id': 'base_satelliteidentifier.sat_id',
        'author_id': 'base_station.owner_id? (needs verification)'
    },
    'base_station': {
        'owner_id': 'Unknown (possibly user table not in database)'
    },
    'base_satellite': {
        'satellite_entry_id': 'base_satelliteentry.id',
        'satellite_identifier_id': 'base_satelliteidentifier.id'
    },
    'base_antenna': {
        'station_id': 'base_station.id',
        'antenna_type_id': 'base_antennatype.id'
    },
    'base_frequencyrange': {
        'antenna_id': 'base_antenna.id'
    }
}

for table, relationships in table_relationships.items():
    print(f"\n{table}:")
    for fk_col, ref_table in relationships.items():
        # Check if column exists in table
        try:
            df_check = pd.read_sql(f"SELECT {fk_col} FROM {table} LIMIT 1", engine)
            print(f"  âœ“ {fk_col} -> {ref_table}")
        except:
            print(f"  âœ— {fk_col} (column might not exist)")

============================================================
IDENTIFYING TABLE RELATIONSHIPS
============================================================

base_observation:
  âœ“ ground_station_id -> base_station.id
  âœ“ sat_id -> base_satelliteidentifier.sat_id
  âœ“ author_id -> base_station.owner_id? (needs verification)

base_station:
  âœ“ owner_id -> Unknown (possibly user table not in database)

base_satellite:
  âœ“ satellite_entry_id -> base_satelliteentry.id
  âœ“ satellite_identifier_id -> base_satelliteidentifier.id

base_antenna:
  âœ“ station_id -> base_station.id
  âœ“ antenna_type_id -> base_antennatype.id

base_frequencyrange:
  âœ“ antenna_id -> base_antenna.id

In [15]:
# --- Summary statistics for numerical columns in observations ---
print("\n" + "="*60)
print("NUMERICAL COLUMNS SUMMARY IN OBSERVATIONS")
print("="*60)

# Get summary for columns that might have data
numerical_cols = ['max_altitude', 'rise_azimuth', 'set_azimuth', 'station_alt', 'station_lat', 'station_lng']

summary_queries = []
for col in numerical_cols:
    summary_queries.append(f"""
        '{col}' as column_name,
        COUNT({col}) as non_null_count,
        ROUND(COUNT({col}) * 100.0 / COUNT(*), 2) as non_null_percentage,
        ROUND(AVG({col}), 4) as avg_value,
        ROUND(MIN({col}), 4) as min_value,
        ROUND(MAX({col}), 4) as max_value,
        ROUND(STD({col}), 4) as std_dev
    """)

summary_query = f"""
SELECT {', '.join(summary_queries)}
FROM base_observation
WHERE 1=1
"""

try:
    numerical_summary = pd.read_sql(summary_query, engine)
    print("Summary of numerical columns (sample):")
    for i, col in enumerate(numerical_cols):
        row = numerical_summary.iloc[i]
        print(f"\n{col}:")
        print(f"  Non-NULL: {row['non_null_percentage']}% ({row['non_null_count']:,} rows)")
        if row['non_null_percentage'] > 0:
            print(f"  Avg: {row['avg_value']}, Min: {row['min_value']}, Max: {row['max_value']}")
except Exception as e:
    print(f"Could not compute numerical summaries: {e}")
    # Fallback to simpler query
    for col in numerical_cols[:3]:  # Just check first few
        simple_check = pd.read_sql(f"""
            SELECT COUNT({col}) as non_null_count 
            FROM base_observation 
            WHERE {col} IS NOT NULL
        """, engine)
        print(f"{col}: {simple_check['non_null_count'][0]:,} non-NULL rows")

============================================================
NUMERICAL COLUMNS SUMMARY IN OBSERVATIONS
============================================================
Summary of numerical columns (sample):

max_altitude:
Could not compute numerical summaries: unsupported format string passed to Series.__format__
max_altitude: 12,544,939 non-NULL rows
rise_azimuth: 12,544,939 non-NULL rows
set_azimuth: 12,544,939 non-NULL rows

In [16]:
# --- Data Quality Recommendations ---
print("\n" + "="*60)
print("DATA QUALITY RECOMMENDATIONS FOR ML PIPELINE")
print("="*60)

recommendations = [
    ("CRITICAL", "Define target variable", 
     "Need to map status codes (0, 100, -100, -1000) to success/failure labels"),
    
    ("HIGH", "Handle missing station data", 
     "station_lat, station_lng, station_alt are 100% NULL in observation table. \
     Need to join with base_station table"),
    
    ("HIGH", "Investigate status code meanings", 
     "Status codes need interpretation. Check: status=0 with waterfall_status=NULL might be successful"),
    
    ("MEDIUM", "Calculate derived features", 
     "Compute: duration = end - start, time_of_day from start, day_of_week"),
    
    ("MEDIUM", "Clean waterfall_status", 
     "Has both numeric (0.0, 1.0) and NULL values. Convert to categorical"),
    
    ("LOW", "Investigate vetted_status", 
     "Column exists but not explored. Might provide ground truth labels")
]

for priority, item, details in recommendations:
    print(f"\n[{priority}] {item}")
    print(f"   {details}")

============================================================
DATA QUALITY RECOMMENDATIONS FOR ML PIPELINE
============================================================

[CRITICAL] Define target variable
   Need to map status codes (0, 100, -100, -1000) to success/failure labels

[HIGH] Handle missing station data
   station_lat, station_lng, station_alt are 100% NULL in observation table.      Need to join with base_station table

[HIGH] Investigate status code meanings
   Status codes need interpretation. Check: status=0 with waterfall_status=NULL might be successful

[MEDIUM] Calculate derived features
   Compute: duration = end - start, time_of_day from start, day_of_week

[MEDIUM] Clean waterfall_status
   Has both numeric (0.0, 1.0) and NULL values. Convert to categorical

[LOW] Investigate vetted_status
   Column exists but not explored. Might provide ground truth labels

In [17]:
# --- Save enhanced schema documentation ---
import json
from datetime import datetime

# Create comprehensive schema document
schema_document = {
    "analysis_date": datetime.now().isoformat(),
    "database": DB_NAME,
    "tables": {},
    "key_findings": {
        "observation_status_codes": {
            "100": "Most common (46.1M rows) - possibly 'in progress'",
            "-100": "2nd most common (26.2M rows) - possibly 'failed'",
            "0": "2.5M rows - possibly 'successful'",
            "-1000": "1M rows - possibly 'severely failed'"
        },
        "data_quality_issues": [
            "station_* columns 100% NULL in observations (need join)",
            "Many transmitter_* columns mostly NULL",
            "Need to interpret status codes"
        ],
        "recommended_target_variable": "Map status=0 as success, others as failure (to be validated)"
    }
}

# Add table details
for summary in schema_summaries:
    table_name = summary["table"]
    schema_document["tables"][table_name] = {
        "row_count": int(summary["row_count"]),
        "columns": summary["columns"],
        "preview_sample": summary["preview"].head(3).to_dict(orient='records')
    }

# Save as JSON
with open("enhanced_schema_document.json", "w") as f:
    json.dump(schema_document, f, indent=2, default=str)

print("\nðŸ“Š Enhanced schema documentation saved to 'enhanced_schema_document.json'")

ðŸ“Š Enhanced schema documentation saved to 'enhanced_schema_document.json'

In [18]:

# Save to Markdown with fallback
import importlib 
with open("schema_summary.md", "w", encoding="utf-8") as f:
    f.write("# ðŸ“Š SatNOGS Dataset Schema Summary\n\n")
    for s in schema_summaries:
        f.write(f"## Table: {s['table']}\n")
        f.write(f"- Row count: {s['row_count']}\n")
        f.write(f"- Columns: {', '.join(s['columns'])}\n\n")
        f.write("### Preview (first 5 rows)\n")
        
        # Try to use to_markdown if tabulate is available
        try:
            importlib.import_module("tabulate")
            f.write(s["preview"].head().to_markdown(index=False))
        except ImportError:
            # Fallback to plain text if tabulate is missing
            f.write(s["preview"].head().to_string(index=False))
        
        f.write("\n\n---\n\n")
        print(f"ðŸ“„ Saved preview for {s['table']}")

ðŸ“„ Saved preview for base_antenna
ðŸ“„ Saved preview for base_antennatype
ðŸ“„ Saved preview for base_frequencyrange
ðŸ“„ Saved preview for base_launch
ðŸ“„ Saved preview for base_mode
ðŸ“„ Saved preview for base_observation
ðŸ“„ Saved preview for base_operator
ðŸ“„ Saved preview for base_satellite
ðŸ“„ Saved preview for base_satelliteentry
ðŸ“„ Saved preview for base_satelliteidentifier
ðŸ“„ Saved preview for base_station
ðŸ“„ Saved preview for base_stationstatuslog
ðŸ“„ Saved preview for base_stationtype
ðŸ“„ Saved preview for base_telemetry
ðŸ“„ Saved preview for base_transmitterentry